%h2
  = t '.my_orders'
%table
  %thead
    %tr
      %th
        = Lunch.human_attribute_name(:vendor_id)
      %th
        = t '.id'
      %th
        = Lunch.human_attribute_name(:description)
      %th
        = Lunch.human_attribute_name(:price)
      %th
        = Lunch.human_attribute_name(:discounted_price)
      %th
        = t '.status'
      %th
        Action 
  %tbody#orders_list
    = render :partial => 'order', :collection => @orders

%p
  = link_to t('.place_order_link'), new_order_path
