%h2
  = t '.my_orders'
%table
  %thead
    %tr
      %td
        %b
          = Lunch.human_attribute_name(:vendor_id)
      %td
        %b
          = t '.id'
      %td
        %b
          = Lunch.human_attribute_name(:description)
      %td
        %b
          = Lunch.human_attribute_name(:price)
      %td
        %b
          = Lunch.human_attribute_name(:discounted_price)
      %td
        %b
          = t '.status'
  %tbody#orders_list
    = render :partial => "order", :collection => @orders

%p
  = link_to t('.place_order_link'), new_order_path
