<h2>Available lunch options</h2>

<p>
  <%= select_date @date, :start_year => 2010, :end_year => 2020 %>
</p>
<p>
  <%= label_tag :include_dateless, 'Include dateless?' %>
  <%= check_box_tag :include_dateless, 'yes', true %>
</p>

<%= render :partial => 'observe_field', :locals => { :field_name => :date_year } %> 
<%= render :partial => 'observe_field', :locals => { :field_name => :date_month } %> 
<%= render :partial => 'observe_field', :locals => { :field_name => :date_day } %> 
<%= render :partial => 'observe_field', :locals => { :field_name => :include_dateless } %> 

<p><%= link_to "Add lunch option", new_lunch_path %></p>
<p>
<table>
  <thead>
    <tr>
      <td><b>Vendor</b></td>
      <td><b>ID</b></td>
      <td><b>Description</b></td>
      <td><b>Refunded?</b></td>
      <td><b>Price*</b></td>
    </tr>
  </thead>
  <tbody id='lunches_list'>
    <%= render :partial => 'lunch_to_show', :collection => @lunches %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan=5>* discounted price if applicable</td>
    </tr>
  </tfoot>
</table>
</p>
